<%# app/views/admin/encounters/_summary.html.erb %>
<summary id="<%= dom_id(encounter, :summary) %>"><span class="pool-encounter__summary-text"><%= encounter_summary_line(encounter) %></span></summary>
