<%# app/views/admin/encounters/index.html.erb %>
<%= link_to "New encounter", new_admin_team_category_encounter_path(@team_category) %>
<ul>
  <% @encounters.each do |encounter| %>
    <li>
      <%= link_to "#{encounter.team_1.name} vs #{encounter.team_2.name}",
            admin_team_category_encounter_path(@team_category, encounter) %>
      <%= "→ #{encounter.winner.name}" if encounter.winner %>
    </li>
  <% end %>
</ul>
