.DS_Store
.livereload
.sass-cache/
.yardoc/
log/*
rails/*
vendor/rails/*
tmp/sass-cache/*
tmp/pids/*
tmp/cache/*
tmp/capybara/*
.livereload
db/*.sqlite3
log/*.log
*.tmproj
public/system/*
public/stylesheets/all.css
public/javascripts/all.js
public/assets/*
db/schema.rb
db/schema.sql
coverage
kasahara2014.sublime-project
kasahara2014.sublime-workspace

# Ignore application configuration
/config/application.yml
/config/database.yml
