.bundle
.DS_Store
.livereload
.sass-cache/
.yardoc/
db/*.sqlite3
db/schema.rb
db/schema.sql
log/*
*.tmproj
public/system/*
public/test_system/*
public/assets/*
vendor/rails/
vendor/bundle/
tmp/*
coverage
*.sublime-project
*.sublime-workspace

config/database.yml
/config/application.yml
db/seeds.rb
db/seed_files/*

.env
