%h1.in_construction-logo
  Kasahara Cup 2014
.in_construction-text
  %h2
    Next edition: September 27-28, 2014 in Geneva
  %p
    Come back soon for more infos
  %p= link_to "Check last year's results", "http://2013.kasaharacup.com"
