- @title = t("devise.sessions.title")
.row
  .col-xs-12.col-md-12
    %h2= @title
    .help-block
      = t("registrations.form.explanation")
    .col-xs-12.col-md-4
      = render "devise/sessions/form"
