<div class="w-full bg-white shadow">
  <div class="px-4 py-5 sm:p-6 prose prose-red-900 prose-lg">
    <p class="mt-1 text-xs text-gray-500 mb-0 italic">
      <%= Headline.human_attribute_name(:created_at) %>
      <%= l(headline.created_at.to_date, format: :day_month_year) %>
    </p>
    <h3 class="text-lg mt-1 font-medium text-gray-900">
      <%= headline.title %>
    </h3>
    <div class="mt-2 max-w-xl text-sm text-gray-500">
      <%= md_to_html(headline.content) %>
    </div>
  </div>
</div>
