- @title ||= t(".title"); title @title
.row.headlines
  .col-xs-12.col-md-12
    %h2= @title
    - @headlines.each do |headline|
      .row.headlines-headline
        .col-xs-12.col-md-4
          %h4
            = headline.title
            %br
            %small
              = headline.created_at.to_s :day_month_year
              |
              = link_to "Permalink", headline
        .col-xs-12.col-md-8
          =raw headline.content
