<% @title ||= @headline.title; title @title %>
<div class="row headlines">
  <div class="col-xs-12 col-md-12">
    <h2>
      <%= @title %>
      <small>
        <%= @headline.created_at.to_fs :day_month_year %>
      </small>
    </h2>
    <%= md_to_html(@headline.content) %>
  </div>
</div>
