#category-tree
  = "Trying to build a tree with #{category.tree.branch_number} branches"
  #category-tree-drawing{data: {tree: {elements: category.tree.elements, depth: category.tree.depth, branch_number: category.tree.branch_number}}}
