@tailwind base;
@tailwind components;
@tailwind forms;
@tailwind utilities;
@tailwind typography;

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: #de7012;
    color: #fff;
  }

  ::-moz-selection  {
    background-color: #de7012;
    color: #fff;
  }

  .display-1,
  .display-2,
  .display-3 {
    color: #27231F;
    font-weight: 800;
    letter-spacing: -.005em;
    line-height: 1.1;
    text-align: center;
  }

  .display-1 {
    --font-size-min: 40px;
    --font-size-max: 100px;
    --scaler: 5.75vw;
    font-size: clamp( var(--font-size-min), var(--scaler), var(--font-size-max) );
    line-height: .9;
  }

  .display-2 {
    --font-size-min: 30px;
    --font-size-max: 60px;
    --scaler: 5.75vw;
    font-size: clamp( var(--font-size-min), var(--scaler), var(--font-size-max) );
  }

  .display-3 {
    --font-size-min: 22px;
    --font-size-max: 32px;
    --scaler: 5.75vw;
    font-size: clamp( var(--font-size-min), var(--scaler), var(--font-size-max) );
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center px-4 py-2 bg-transparent border-transparent font-semibold text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-md transition-all;
  }

  .btn-sm {
    @apply px-2 py-1 font-semibold text-xs;
  }

  .btn-primary {
    @apply bg-brand text-white hover:bg-brand-light focus:ring-brand active:bg-brand-dark;
  }

  .btn-secondary {
    @apply bg-white text-gray-700 border border-gray-300 shadow-sm hover:bg-gray-50 focus:ring-brand;
  }
}

@layer base {
  .kasa-form {
    @apply space-y-8 divide-y divide-gray-200 border-t-0;
  }

  .kasa-form > :not([hidden]) ~ :not([hidden]) {
    @apply border-t-0;
  }

  .input-group {
    @apply sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5;
  }

  .input-field {
    @apply mt-1 sm:mt-0 sm:col-span-2;
  }

  select {
    @apply max-w-lg block focus:ring-red-500 focus:border-red-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md;
  }

  input[type='text'], input[type='date'], input[type='email'], input[type='password'] {
    @apply max-w-lg block w-full shadow-sm focus:ring-red-500 focus:border-red-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md;
  }

  .helper-text {
    @apply text-gray-500;
  }
}
