@import 'tailwindcss';
@import './components/button.css';
@import './components/select.css';

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-lightest: #fef6ef;
  --color-brand-lighter: #e5c9b1;
  --color-brand-light: #eb862e;
  --color-brand: #de7012;
  --color-brand-dark: #d16a0f;
  --color-positive-light: #8fbb67;
  --color-positive: #80ac57;
  --color-positive-dark: #7eac53;
  --color-gray-50: #FCFAF8;
  --color-gray-100: #F5F3F1;
  --color-gray-200: #E8E5E3;
  --color-gray-300: #D6D4D0;
  --color-gray-400: #A6A29D;
  --color-gray-500: #75716C;
  --color-gray-600: #57524F;
  --color-gray-700: #44403A;
  --color-gray-800: #27231F;
  --color-gray-900: #181512;
  --color-red-50: #fcb7ad;
  --color-red-100: #fba698;
  --color-red-200: #fa9483;
  --color-red-300: #f9826f;
  --color-red-400: #f9705a;
  --color-red-500: #f85e46;
  --color-red-600: #F74C31;
  --color-red-700: #c72208;
  --color-red-800: #ab1d07;
  --color-red-900: #8e1806;
  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #bbf7d0;
  --color-green-300: #86efac;
  --color-green-400: #4ade80;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
  --color-green-800: #166534;
  --color-green-900: #14532d;
}
/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: #de7012;
    color: #fff;
  }

  ::-moz-selection  {
    background-color: #de7012;
    color: #fff;
  }

  .display-1,
  .display-2,
  .display-3 {
    color: #27231F;
    font-weight: 800;
    letter-spacing: -.005em;
    line-height: 1.1;
    text-align: center;
  }

  .display-1 {
    --font-size-min: 40px;
    --font-size-max: 100px;
    --scaler: 5.75vw;
    font-size: clamp( var(--font-size-min), var(--scaler), var(--font-size-max) );
    line-height: .9;
  }

  .display-2 {
    --font-size-min: 30px;
    --font-size-max: 60px;
    --scaler: 5.75vw;
    font-size: clamp( var(--font-size-min), var(--scaler), var(--font-size-max) );
  }

  .display-3 {
    --font-size-min: 22px;
    --font-size-max: 32px;
    --scaler: 5.75vw;
    font-size: clamp( var(--font-size-min), var(--scaler), var(--font-size-max) );
  }
}

@layer base {
  .kasa-form {
    @apply space-y-8 divide-y divide-gray-200 border-t-0;
  }

  .kasa-form > :not([hidden]) ~ :not([hidden]) {
    @apply border-t-0;
  }

  .input-group {
    @apply sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5;
  }

  .input-info {
    @apply mt-1 sm:mt-0 sm:col-span-3;
  }

  .input-field {
    @apply mt-1 sm:mt-0 sm:col-span-2;
  }

  input[type='text'], input[type='date'], input[type='email'], input[type='password'], textarea {
    @apply max-w-lg block w-full shadow-xs focus:ring-red-500 focus:border-red-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md;
  }

  .helper-text {
    @apply text-gray-500 text-sm;
  }
}

.select2-selection__rendered {
  line-height: 35px !important;
}

.select2-container .select2-selection--single {
  height: 38px !important;
  display: block;
  width: 100%;
  max-width: 32rem;
  border-radius: 0.375rem;
  --tw-border-opacity: 1;
  border-color: rgb(214 212 208 / var(--tw-border-opacity));
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),  var(--tw-ring-shadow, 0 0 #0000),  var(--tw-shadow);
}

.select2-selection__arrow {
  height: 37px !important;
}

.select2-selection__clear {
  height: 34px !important;
  @apply text-gray-500;
}

@media (min-width: 640px) {
  .form-full input[type='text'],
  .form-full input[type='date'],
  .form-full input[type='email'],
  .form-full input[type='password'],
  .form-full input[type='submit'] {
    max-width: 100%;
  }
}
