<p><%= t(".greeting", recipient: @email) %></p>

<p>
  <% if @resource.try(:unconfirmed_email?) %>
    <%= t(".message_unconfirmed", email: @resource.unconfirmed_email) %>
  <% else %>
    <%= t(".message", email: @resource.email) %>
  <% end %>
</p>
