= form_tag cup_charges_path do
  %article
    %label.amount
      %span
        Amount: $5.00

  %script{ src: "https://checkout.stripe.com/checkout.js", class: "stripe-button", data: { key: Rails.configuration.stripe[:publishable_key], description: "A month's subscription", amount: "500", locale: "auto" } }
