- unless user_signed_in?
  .well#registrations
    %h2= t 'registration.title'
    %p
      = t('registrations.form.sign_in.text')
      = link_to t('registrations.form.sign_in.link'), "#", class: "registrations-signin-link"
    %p=raw t('registrations.form.explanation')
